In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')

In [8]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [9]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)

In [18]:
df.rename(columns={"v1":"target","v2":"text"},inplace=True)

In [19]:
df.sample(6)

     target                                               text
5559    ham  if you aren't here in the next  &lt;#&gt;  hou...
4369   spam  Do you want a new Video handset? 750 any time ...
4867    ham  Watching cartoon, listening music &amp; at eve...
2444    ham     Yes but i dont care! I need you bad, princess!
4992    ham                                          \HEY KATE
676     ham  Maybe?! Say hi to  and find out if  got his ca...

In [20]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [22]:
df["target"]=encoder.fit_transform(df["target"])

In [26]:
#missing values
df.isnull().sum()

target    0
text      0
dtype: int64

In [28]:
#Checking for duplicates
df.duplicated().sum()

403